# The ID of your GitHub App
APP_ID=

# The Webhook secret of your GitHub App
WEBHOOK_SECRET=

# The Webhook private key path of your GitHub App
PRIVATE_KEY_PATH=

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

PORT=3001
